---
---

$content-width: 800px;
$on-palm: 800px;
$on-laptop: 800px;

@import "{{ site.theme }}";

@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

body {
    font-family: 'Ubuntu', sans-serif;
}

#courriel {
	font-family: monospace;
}

.page-link {
    line-height: 75px;
    color:red;
}

p.decalage {
	margin-left: 130px;
}

#img-thumbnail {
	max-height: 90px;
    width: auto;
    margin: auto 5px;
}

.site-footer {
    text-align: center;
}

ul.post-list li {
    margin: 0px;
}

.photo_id {
    max-width: 50px;
    border-radius: 5px;
    border: 1px solid black;
    margin: 2px 0px;
}

ul.team {
    list-style: none;
    margin-left: 0px;
}